  <!--featured categories area start-->
    <section class="featured_categories mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_title">
                        <h2><span> <strong>Featured</strong>Categories</span></h2>
                    </div>
                    <div class="featured_container">
                        <div class="featured_carousel featured_column3 owl-carousel">
                            <div class="single_items">
                                <div class="single_featured">
                                    <div class="featured_thumb">
                                        <a href="#"><img src="assets/img/featured/featured.jpg" alt=""></a>
                                    </div>
                                    <div class="featured_content">
                                        <h3 class="product_name"><a href="#">Body Parts</a></h3>
                                        <div class="sub_featured">
                                            <ul>
                                                <li><a href="#">Bumper</a></li>
                                                <li><a href="#">Fender</a></li>
                                                <li><a href="#">Hood</a></li>
                                                <li><a href="#">Doors</a></li>
                                            </ul>
                                        </div>
                                        <a class="view_more" href="request-quote">Request a Quote</a>
                                    </div>
                                </div>
                                <div class="single_featured">
                                    <div class="featured_thumb">
                                        <a href="#"><img src="assets/img/featured/differential.png" alt=""></a>
                                    </div>
                                    <div class="featured_content">
                                        <h3 class="product_name"><a href="#">Differential</a></h3>
                                        <div class="sub_featured">
                                            <ul>
                                                <li><a href="#">Ring Gear</a></li>
                                                <li><a href="#">Pinion Gear</a></li>
                                                <li><a href="#">Front Differential</a></li>
                                                <li><a href="#">Rear Differential</a></li>
                                            </ul>
                                        </div>
                                        <a class="view_more" href="request-quote">Request a quote</a>
                                    </div>
                                </div>
                            </div>
                            <div class="single_items">
                                <div class="single_featured">
                                    <div class="featured_thumb">
                                        <a href="#"><img src="assets/img/featured/featured2.jpg" alt=""></a>
                                    </div>
                                    <div class="featured_content">
                                        <h3 class="product_name"><a href="#">Lighting</a></h3>
                                        <div class="sub_featured">
                                            <ul>
                                                <li><a href="#">Headlights</a></li>
                                                <li><a href="#">Tail Lights</a></li>
                                                <li><a href="#">Fog lights</a></li>
                                                <li><a href="#">Indicators</a></li>
                                            </ul>
                                        </div>
                                        <a class="view_more" href="request-quote">Request a quote</a>
                                    </div>
                                </div>
                                <div class="single_featured">
                                    <div class="featured_thumb">
                                        <a href="#"><img src="assets/img/featured/ecu.png" alt=""></a>
                                    </div>
                                    <div class="featured_content">
                                        <h3 class="product_name"><a href="#">Electrical</a></h3>
                                        <div class="sub_featured">
                                            <ul>
                                                <li><a href="#">Alternator</a></li>
                                                <li><a href="#">Starter Motor</a></li>
                                                <li><a href="#">Distributor</a></li>
                                                <li><a href="#">ECU</a></li>
                                            </ul>
                                        </div>
                                        <a class="view_more" href="request-quote">Request a quote</a>
                                    </div>
                                </div>
                            </div>
                            <div class="single_items">
                                <div class="single_featured">
                                    <div class="featured_thumb">
                                        <a href="#"><img src="assets/img/featured/engine.png" alt=""></a>
                                    </div>
                                    <div class="featured_content">
                                        <h3 class="product_name"><a href="#">Engines</a></h3>
                                        <div class="sub_featured">
                                            <ul>
                                                <li><a href="#">Cylinder Block</a></li>
                                                <li><a href="#">Cylinder Head</a></li>
                                                <li><a href="#">Pistons</a></li>
                                                <li><a href="#">Crankshaft</a></li>
                                            </ul>
                                        </div>
                                        <a class="view_more" href="request-quote">Request a quote</a>
                                    </div>
                                </div>
                                <div class="single_featured">
                                    <div class="featured_thumb">
                                        <a href="#"><img src="assets/img/featured/gearbox.png" alt=""></a>
                                    </div>
                                    <div class="featured_content">
                                        <h3 class="product_name"><a href="#">Gearbox</a></h3>
                                        <div class="sub_featured">
                                            <ul>
                                                <li><a href="#">Gears</a></li>
                                                <li><a href="#">Shafts</a></li>
                                                <li><a href="#">Synchros</a></li>
                                                <li><a href="#">Clutch</a></li>
                                            </ul>
                                        </div>
                                        <a class="view_more" href="request-quote">Request a quote</a>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--featured categories area end-->