<div class="single_product">
  <div class="product_name">
    <h3><a href="product-details">{{name}}</a></h3>
    <p class="manufacture_product"><a href="#">{{category}}</a></p>
  </div>
  <div class="product_thumb">
    <a class="primary_img" href="product-details"><img
        src={{thumbnail.primary}}
        alt=""
      /></a>
    <a class="secondary_img" href="product-details"><img
        src={{thumbnail.primary}}
        alt=""
      /></a>
    {{!-- <div class="label_product">
      <span class="label_sale">-57%</span>
    </div> --}}

    <div class="action_links">
      <ul>
        {{!-- <li class="quick_button"><a
            href="#"
            data-bs-toggle="modal"
            data-bs-target="#modal_box"
            title="quick view"
          > <span class="lnr lnr-magnifier"></span></a></li> --}}
        <li class="wishlist"><a
            href="wishlist"
            title="Add to Wishlist"
          ><span class="lnr lnr-heart"></span></a></li>
        {{!-- <li class="compare"><a href="compare" title="compare"><span
              class="lnr lnr-sync"
            ></span></a></li> --}}
      </ul>
    </div>
  </div>
  <div class="product_content">
    <div class="product_ratings">
      <ul>
        <li><a href="#"><i class="ion-star"></i></a></li>
        <li><a href="#"><i class="ion-star"></i></a></li>
        <li><a href="#"><i class="ion-star"></i></a></li>
        <li><a href="#"><i class="ion-star"></i></a></li>
        <li><a href="#"><i class="ion-star"></i></a></li>
      </ul>
    </div>
    <div class="product_footer d-flex align-items-center">
      <div class="price_box">
        <a href="request-quote" title="Request a Quote">Price Available On Request</a>
      </div>
      <div class="add_to_cart">
        <a href="cart" title="add to cart"><span
            class="lnr lnr-cart"
          ></span></a>
      </div>
    </div>
  </div>
</div>