    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="/">home</a></li>
                            <li>Contact us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->

    

    <!--contact area start-->
    <div class="contact_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="contact_message content">
                        <h3>Contact us</h3>
                        <p>We’re here to help you find the right parts and answer any questions you may have. Whether you need assistance with an order, want to check product availability, or simply need expert advice, the Zytech Auto Parts team is just a message away.</p>
                        <ul>
                            <li><i class="fa fa-fax"></i> Address : Zytech Autoparts, 107, Hotspur North, Newcastle, UK, NE27 0GN</li>
                            <li><i class="fa fa-envelope-o "></i> <a href="#">info@zytechautoparts.com</a></li>
                            <li><i class="fa fa-phone"></i><a href="tel:+441917510090">+44 1917510090</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="contact_message form">
                        <h3>Send Us a Message</h3>
                        <p>Have a query or need a specific auto part? Fill out the contact form below, and our team will get back to you as soon as possible.</p>
                        <form id="contact-form" method="POST" action="">
                            <p>
                                <label> Your Name (required)</label>
                                <input name="name" placeholder="Name *" type="text">
                            </p>
                            <p>
                                <label> Your Email (required)</label>
                                <input name="email" placeholder="Email *" type="email">
                            </p>
                            <p>
                                <label> Phone Number (required)</label>
                                <input name="phone" placeholder="Phone *" type="number">
                            </p>
                            <p>
                                <label> Subject</label>
                                <input name="subject" placeholder="Subject *" type="text">
                            </p>
                            <div class="contact_textarea">
                                <label> Your Message</label>
                                <textarea placeholder="Message *" name="message" class="form-control2"></textarea>
                            </div>
                            <button type="submit"> Send</button>
                            <p class="form-messege"></p>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--contact area end-->